@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");

:root{
  font-family: 'Quicksand';
  overflow-x: hidden;
}
*{
  font-family: 'Quicksand';
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  margin-top: 10px;
  margin-bottom: 56.63px;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 30px;
}

.received-message {

  background-color: #adb5bd;
  padding: 10px;
  margin: 10px;
  /* margin-top: 0; */
  color: #ffffff;
  border-radius: 16.18px;
  width: fit-content;
  max-width: 230px;
  min-width: 61.8px;
  text-align: left;

}

.sent-message {

  background-color: #4361ee;
  padding: 10px;
  margin: 10px;
  /* margin-top: 0; */
  color: #ffffff;
  border-radius: 16.18px;
  min-width: 61.8px;
  width: fit-content;
  max-width: 230px;
  text-align: left;
}

.sender{
  font-size: 13px;
}

.navigation-styles{
  color: #495057;
  font-weight: 500;
}